.hex:before {
	content: " ";
	width: 0;
	height: 0;
	border-bottom: 30px solid #6c6;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	position: absolute;
	top: -30px;
	transition: all .3s ease;
	left: 0px;
}

.hex {
	float: left;
	margin-left: 3px;
	margin-top: 33px;
	width: 104px;
	height: 60.04px;
	background-color: #6c6;
	position: relative;
	transition: all .3s ease;
	opacity: 0.5;
	cursor: pointer;
}

a.hex {
	text-decoration: none;
	color:background;
	text-align: center;
}

.hex:after {
	content: " ";
	width: 0;
	position: absolute;
	bottom: -30px;
	border-top: 30.02px solid #6c6;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	transition: all .3s ease;
	left: 0px;
}

.hex-row {
	clear: left;
}

.hex-row.even {
	margin-left: 51px;
}

.hex:hover>.sub-hex {
	opacity: 1;
	visibility: visible;
}

.hex:hover>.sub-hex:hover {
	opacity: 1;
	visibility: visible;
}

.sub-hex {
	position: absolute;
	left: 110px;
	top: 0px;
	margin-top: 0px;
	opacity: 0;
	visibility: hidden;
}

.sub-hex.bottom {
	left: 57px;
	top: 93px;
}

.sub-hex.top {
	left: 56px;
	top: -93px;
}

.hex:hover {
	/*background-color:#66e;*/
	opacity: 1;
}

.hex:hover:after {
	/*border-top-color:#66e;*/
	
}

.hex:hover:before {
	/*border-bottom-color:#66e;*/
	
}

.hex:hover>.hex {
	opacity: 0.5;
}