.description {
	float: left;
	border: 1px solid blue;
}

.description>.param {
	text-decoration: underline;
}

.description>.value {
	font-style: italic;
	margin-left: 10px;
}

.menu-modif {
	float: left;
	border: 1px solid red;
}

.menu-accessoire {
	float: left;
	border: 1px solid green;
}

.erreur {
	color : red;
}

.typeAccessoire {

}