

	<div id="content">
		<div class="hex bgreen hex-row">
		<a href="<c:url value="/admin"/>">Admin</a>
			<div class="sub-hex hex bgreen">
				<div class="sub-hex hex bgreen"></div>
				<div class="sub-hex hex bgreen bottom">
					<div class="sub-hex hex bgreen">
						<div class="sub-hex hex bgreen top"></div>
						<div class="sub-hex hex bgreen"></div>
						<div class="sub-hex hex bgreen bottom"></div>
					</div>
					<div class="sub-hex hex bgreen bottom"></div>
				</div>
			</div>
		</div>
		<div class="hex bblue hex-row even">
			<a href="<c:url value="/joueur"/>">Joueur</a>
			<div class="sub-hex hex bblue"></div>
		</div>
		<div class="hex bred hex-row"></div>
	</div>